<!DOCTYPE html>
<!--[If lte IE 9]><html lang="ko-KR" class="ie8"><![endif]-->
<!--[if !IE]><!--><html lang="ko-KR"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>UP Solution - 업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.</title>
	<!-- Description, Keywords -->
	<meta name="description" content="업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.">
	<meta name="keywords" content="업솔루션코리아, UP Solution, Software">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no" />
	<!-- Styles -->
	<link rel="stylesheet" href="../../css/style.css">
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../images/icon/upsolution48.ico" />
	<link rel="apple-touch-icon" href="../../images/icon/upsolution114.ico" />
	<!-- #include file="../_inc/ie8.html" -->
	<script src="../../js/jquery.lazyload.js"></script><!-- / Image Lazyload -->
	<script src="../../js/smooth-scroll.js"></script><!-- / 상,위 이동 부드럽게 스크롤 -->
	<script src="../../js/echo.min.js"></script><!-- / loading Image -->
	<script src="js/svgeezy.min.js"></script><!-- / SVG 파일을 PNG 파일로 변환 -->
	<script src="../../js/classie.js"></script><!-- / Tab action & style 설정 -->
	<script src="../../js/svg-injector.min.js"></script><!-- / SVG 파일 CSS Style 적용 -->
	<script src="../../js/jquery.popupLayer.js"></script><!-- / 팝업 레이어 플러그인 -->
	<script src="../../js/kalypto.checked.js"></script><!-- / 체크박스 플러그인 -->
	<script src="../../js/common.js"></script><!-- / Script 공통 -->
</head>
<body>
<!-- Skip Navigation -->
<a href="#content-wrap" class="blind" >본문 바로가기</a>
<a href="#open_nav" class="blind">메뉴 바로가기</a>
<a href="#sitemap" class="blind">사이트맵 바로가기</a>
<!-- / Skip Navigation End -->
<!-- Quick menu & Popup -->
	<!-- #include file="../_inc/quick-menu.html" -->
<!-- Quick menu & Popup -->
<!-- Header Area -->
<header id="header-wrap">
	<!-- #include file="../_inc/header.html" -->
</header>
<!-- / Header Area End -->
<!-- Contents Area-->
<main id="content-wrap">
	<section class="content sub">
		<article class="overview-bg01">
			<h2 class="row top-title">Overview :</h2>
			<div class="row">
				<img class="lazy" src="../../images/sub/overview/overview01.png" data-src="../../images/sub/overview/overview01.png" height="503" width="975" alt="">
			</div>
		</article>
		<article  class="overview-bg02">
			<div class="row">
				<div class="col-one">
					<img class="lazy" src="../../images/sub/overview/overview02.png" data-src="../../images/sub/overview/overview02.png" height="235" width="360"  alt="">
				</div>
				<div class="col-two">
					<ul>
						<li>
							<h3>주문에서 결제까지 쉽고 간단하게!</h3>
							<p>트렌드에 맞는 디자인의 알기 쉽고 직관적인 UI 제공</p>
							<p>사용자 경험을 바탕으로한 효율적인 영업관리</p>
							<p>메뉴관리, 배달관리, 캐터링, 테이블 레이아웃, 온라인 주문,</p>
							<p>예약관리, Kiosk등 최적화된 서비스 제공!</p>
						</li>
						<li>
							<h3>신속하고 간단한 결제!</h3>
							<p>결제 방식에 따른 현금, 직불카드, 신용카드</p>
							<p>포인트, 쿠폰등 다양한 결제방식과 </p>
							<p>쉬운 분할/통합 결제 가능</p>
						</li>
						<li>
							<h3>다국어 지원!</h3>
							<p>언어설정만으로 쉽게 언어 변경가능</p>
							<p>전세계 어디서나 사용가능한 글로벌 솔루션</p>
						</li>
					</ul>
				</div>
			</div>
		</article>
		<article  class="overview-bg03">
			<div class="row">
				<h3>다양한 관리시스템으로 서비스 향상!</h3>
				<div>
					<div class="col-one">
						<img class="lazy" src="../../images/sub/overview/pos-solution.png" data-src="../../images/sub/overview/pos-solution.png" height="306" width="471"  alt="">
						<p>POS Solution (영업마감, 예약관리 화면)</p>
					</div>
					<div class="col-two">
						<img class="lazy" src="../../images/sub/overview/up-cloud.png" data-src="../../images/sub/overview/up-cloud.png" height="306" width="471"  alt="">
						<p>UP Cloud (매출관리, 메뉴관리 화면)</p>
					</div>
				</div>
				<ul>
					<li>
						<div>통합관리</div>
						<div>
							<p>클라우드를<br>통한 통합관리<br>서비스</p>
						</div>
					</li>
					<li>
						<div>영업관리</div>
						<div>
							<p>주문, 재고현황<br>실시간 보고</p>
						</div>
					</li>
					<li>
						<div>고객관리</div>
						<div>
							<p>고객맞춤서비스,<br>로열티 프로그램,<br>마케팅활용으로<br>매출향상</p>
						</div>
					</li>
					<li>
						<div>직원관리</div>
						<div>
							<p>근태관리<br>업무분석으로<br>서비스 향상</p>
						</div>
					</li>
					<li>
						<div>매장관리</div>
						<div>
							<p>사용규모에 따른<br>소매장, 대형매장,<br>프렌타이즈 사용자<br>확장 및 지정가능</p>
						</div>
					</li>
					<li>
						<div>보안관리</div>
						<div>
							<p>원격지원 솔루션,<br>복구솔루션,<br>백신 탑제</p>
						</div>
					</li>
				</ul>
			</div>
		</article>
		<article  class="overview-bg04">
			<div class="row">
				<div class="col-one">
					<h3>전략적 비즈니스로 성공실현!</h3>
					<p>유형별 실시간 보고를 통해 빠르고 정확하게</p>
					<p>현재의 영업상황을 파악하여</p>
					<p>전략적인 비즈니스 계획하고 실행함으로써</p>
					<p>성공적인 비즈니스를 실현!</p>
				</div>
				<div class="col-two">
					<img class="lazy" src="../../images/sub/overview/overview04.png" data-src="../../images/sub/overview/overview04.png" height="336" width="566"  alt="">
				</div>
			</div>
		</article>
		<article  class="overview-bg05">
			<div class="row">
				<div class="col-one">
					<img class="lazy" src="../../images/sub/overview/overview05.png" data-src="../../images/sub/overview/overview05.png" height="362" width="1000"  alt="Cloud">
				</div>
				<div class="col-two">
					<h3>클라우드 기반의<br>ASP Solution으로 자유로게 관리!</h3>
					<p>POS, PC, PAD, 모바일 기기 등 다양한 디바이스 활용 </p>
					<p>데이터를 중앙에서 관리하는 지능형, 직관적인 시스템으로</p>
					<p>고객이 회원가입 후 즉시 운영할 수 있습니다.</p>
					<ul>
						<li>
							<img class="lazy inject-svg" src="../../images/svg/icon-pos-solution.svg" data-src="../../images/svg/icon-pos-solution.svg" alt="업종에 맞는 POS Solution">
							<p>업종에 맞는<br>POS Solution</p>
						</li>
						<li>
							<img class="lazy inject-svg" src="../../images/svg/icon-up-cloud .svg" data-src="../../images/svg/icon-up-cloud .svg" alt="강력한 관리 UP Cloud ">
							<p>강력한 관리<br>UP Cloud</p>
						</li>
						<li>
							<img class="lazy inject-svg" src="../../images/svg/icon-up-shop .svg" data-src="../../images/svg/icon-up-shop .svg" alt="온라인쇼핑몰 UP Shop">
							<p>온라인쇼핑몰<br>UP Shop</p>
						</li>
						<li>
							<img class="lazy inject-svg" src="../../images/svg/icon-usms.svg" data-src="../../images/svg/icon-usms.svg" alt="통합 지원관리">
							<p>통합<br>지원관리</p>
						</li>
						<li>
							<img class="lazy inject-svg" src="../../images/svg/icon-utility.svg" data-src="../../images/svg/icon-utility.svg" alt="안전한 Utility">
							<p>안전한<br>Utility</p>
						</li>
					</ul>
				</div>
			</div>
		</article>
		<!-- #include file="../_inc/infomation.html" --><!-- / 상담문의 -->
	</section>
</main>
<!-- / Contents Area End-->
<!-- Footer Area -->
<footer id="footer-wrap">
	<!-- #include file="../_inc/footer.html" -->
</footer>
<!-- / Footer Area End -->
</body>
</html>