<!DOCTYPE html>
<!--[If lte IE 9]><html lang="ko-KR" class="ie8"><![endif]-->
<!--[if !IE]><!--><html lang="ko-KR"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>UP Solution - 업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.</title>
	<!-- Description, Keywords -->
	<meta name="description" content="업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.">
	<meta name="keywords" content="업솔루션코리아, UP Solution, Software">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no" />
	<!-- Styles -->
	<link rel="stylesheet" href="../../css/style.css">
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../images/icon/upsolution48.ico" />
	<link rel="apple-touch-icon" href="../../images/icon/upsolution114.ico" />
	<!-- #include file="../_inc/ie8.html" -->
	<script src="../../js/jquery.lazyload.js"></script><!-- / Image Lazyload -->
	<script src="../../js/smooth-scroll.js"></script><!-- / 상,위 이동 부드럽게 스크롤 -->
	<script src="../../js/echo.min.js"></script><!-- / loading Image -->
	<script src="js/svgeezy.min.js"></script><!-- / SVG 파일을 PNG 파일로 변환 -->
	<script src="../../js/classie.js"></script><!-- / Tab action & style 설정 -->
	<script src="../../js/svg-injector.min.js"></script><!-- / SVG 파일 CSS Style 적용 -->
	<script src="../../js/jquery.popupLayer.js"></script><!-- / 팝업 레이어 플러그인 -->
	<script src="../../js/kalypto.checked.js"></script><!-- / 체크박스 플러그인 -->
	<script src="../../js/common.js"></script><!-- / Script 공통 -->
</head>
<body>
<!-- Skip Navigation -->
<a href="#content-wrap" class="blind" >본문 바로가기</a>
<a href="#open_nav" class="blind">메뉴 바로가기</a>
<a href="#sitemap" class="blind">사이트맵 바로가기</a>
<!-- / Skip Navigation End -->
<!-- Quick menu & Popup -->
	<!-- #include file="../_inc/quick-menu.html" -->
<!-- Quick menu & Popup -->
<!-- Header Area -->
<header id="header-wrap">
	<!-- #include file="../_inc/header.html" -->
</header>
<!-- / Header Area End -->
<!-- Contents Area-->
<main id="content-wrap">
	<section class="content sub">
		<article class="up-hospital-bg01">
			<h2 class="row top-title">UP Hospital :</h2>
		</article>
		<article  class="up-hospital-bg02">
			<div class="row">
				<div>
					<h4 class="sub-title">치과, 안과, 피부과, 성형외과, 이비인후과, 내과, 소아과 등<br>
					업종별 맞춤 서비스 제공</h4>
					<p>UP Hospital 은 병원운영에 필요한 다양한 기능을 지원하며, 편리한 사용자 인터페이스 환경을 제공해주는 POS Software 입니다. UP Hospital 은 단순하고 직관적인 기능들로 구성되어 있기 때문에 별도의 Training 시간 투자 없이 사용 방법을 쉽게 배울 수 있고, 현금, 수표, 신용카드 등 다양한 결제 방법을 지원하며, 병원의 매출 현황을 다양한 형태의 Report 로 기록하고 저장하기 때문에 병원경영 및 관리가 수월합니다. 또한 각 병원마다 필요한 기능에 초점을 둔 맞춤형 인터페이스를 제공함으로써 보다 편리하게 사용할 수 있는 사용자 환경을 제공합니다. UP Hospital 은 병원의 규모, 위치, 국가에 상관 없이 어디서나 누구든 쉽게 사용할 수 있는 가장 적합하고 이상적인 POS Software 입니다.</p>
				</div>
				<div>
					<img class="lazy" src="../../images/sub/up-hospital/up-hospital01.png" data-src="../../images/sub/up-hospital/up-hospital01.png" height="271" width="285" alt="">
				</div>
			</div>
			<div class="row btn-set">
				<a href="../demo/demo.html" class="button-blue">솔루션 무료평가판 체험<i class="icon-play"></i></a>
				<a href="../price/price.html" class="button-blue">솔루션 상담<i class="icon-play"></i></a>
			</div>
		</article>
		<article  class="up-hospital-bg03">
			<div class="row">
				<h3>병원운영을 한눈에 파악!</h3>
				<p>Summary 화면은 의료진, 환자, 예약상황을 모두 확인할수 있어 매장 관리자가 전체적인 매장흐름을 파악하고 운영가능.</p>
				<div>
					<div class="col-one">
						<img class="lazy" src="../../images/sub/up-hospital/up-hospital02.png" data-src="../../images/sub/up-hospital/up-hospital02.png" height="337" width="575" alt="">
					</div>
					<div class="col-two">
						<ol>
							<li>
								<h4><i class="icon-uniF111"></i><span>1</span>Employee</h4>
								<p>의료진현황 : 의사별 예약수, 현재 진료 여부 확인 가능</p>
							</li>
							<li>
								<h4><i class="icon-uniF111"></i><span>2</span>Appointment</h4>
								<p>예약현황 : 예약시간, 환자정보, 예약한 서비스 항목 확인 가능</p>
							</li>
							<li>
								<h4><i class="icon-uniF111"></i><span>3</span>Check In / Out</h4>
								<p>진료 in/out : 환자정보, 진료 의료진, 진료 항목, 진료 소요시간 및 경과시간 확인 가능</p>
							</li>
							<li>
								<h4><i class="icon-uniF111"></i><span>4</span>CRM</h4>
								<p>환자리스트, 공지사항</p>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</article>
		<article  class="up-hospital-bg04">
			<div class="row">
				<div class="col-one">
					<h3>효율적인 예약관리</h3>
					<p>환자예약따라 서비스 담당의사및 의료진 그룹설정</p>
					<p>서비스 항목설정으로 소요시간 예상 효울적인</p>
					<p>스케줄 관리 가능.</p>
					<p>일별,주별,월별 목록 제공.</p>
				</div>
				<div class="col-two">
					<img class="lazy" src="../../images/sub/up-hospital/up-hospital03.png" data-src="../../images/sub/up-hospital/up-hospital03.png" height="365" width="579" alt="">
				</div>
			</div>
		</article>
		<article  class="up-hospital-bg05">
			<div class="row">
				<div class="col-one">
					<img class="lazy" src="../../images/sub/up-hospital/up-hospital04.png" data-src="../../images/sub/up-hospital/up-hospital04.png" height="287" width="490" alt="">
				</div>
				<div class="col-two">
					<h3>환자별 맞춤 서비스</h3>
					<p>환자관리를 통해 환자유형에 맞는 서비스 제공.</p>
					<p>쿠폰, 홍보, 이벤트 등 마케팅 활용.</p>
				</div>
			</div>
		</article>
		<article  class="up-hospital-bg06">
			<div class="row">
				<div class="col-one">
					<h3>간단한 지불처리</h3>
					<p>영수증, 서비스목록, 결제방법을</p>
					<p>한화면에서 확인하여 간단히 결제</p>
				</div>
				<div class="col-two">
					<img class="lazy" src="../../images/sub/up-hospital/up-hospital05.png" data-src="../../images/sub/up-hospital/up-hospital05.png" height="389" width="744" alt="">
				</div>
			</div>
		</article>
		<article  class="details">
			<div class="row">
				<div class="col-one">
					<ul>
						<li>
							<div>
								<img class="lazy inject-svg icon-hand" src="../../images/svg/icon-hand.svg" data-src="../../images/svg/icon-hand.svg" alt="">
							</div>
							<div>
								<h5>알기 쉽고 직관적인 UI제공</h5>
								<p>컬러, 아이콘 형식의 직관적인 디자인과 쉬운 메뉴구조</p>
							</div>
						</li>
						<li>
							<div>
								<i class="icon-scope"></i>
							</div>
							<div>
								<h5>서비스 최적화</h5>
								<p>서비스 메뉴관리, 예약관리</p>
							</div>
						</li>
						<li>
							<div>
								<i class="icon-happy"></i>
							</div>
							<div>
								<h5>향상된 고객 관리</h5>
								<p>CRM을 통한 고객 분석으로 맞춤 서비스 제공.</p>
							</div>
						</li>
						<li>
							<div>
								<i class="icon-shield"></i>
							</div>
							<div>
								<h5>보안</h5>
								<p>지불 암호화, 보안서버, PCI 준수</p>
							</div>
						</li>
						<li>
							<div>
								<i class="icon-cloud"></i>
							</div>
							<div>
								<h5>ASP Solution 연동 통합관리</h5>
								<p>POS, PC, PAD, 모바일기기 등 다양한 디바이스 활용</p>
							</div>
						</li>
						<li>
							<div>
								<i class="icon-global"></i>
							</div>
							<div>
								<h5>글로벌</h5>
								<p>다국어, 해외 TAX,, 화페단위 지원</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-two">
					<ul>
						<li>
							<div>
								<i class="icon-alarmclock"></i>
							</div>
							<div>
								<h5>효율적인 영업관리</h5>
								<p>예약에서 결제까지 사용자 경험을 바탕으로 UX제공</p>
							</div>
						</li>
						<li>
							<div>
								<i class="icon-presentation"></i>
							</div>
							<div>
								<h5>체계적인 관리 </h5>
								<p>유형별 보고, 재고관리, 직원관리, 고객관리 </p>
							</div>
						</li>
						<li>
							<div>
								<img class="lazy inject-svg icon-user" src="../../images/svg/icon-user.svg" data-src="../../images/svg/icon-user.svg" alt="">
							</div>
							<div>
								<h5>사용자 지정</h5>
								<p>소매장, 대형매장, 프랜차이즈 등 사업규모에 따른 사용자 관리</p>
							</div>
						</li>
						<li>
							<div>
								<i class="icon-wallet"></i>
							</div>
							<div>
								<h5>지불 유연성</h5>
								<p>분할결제, 다중결제방식</p>
							</div>
						</li>
						<li>
							<div>
								<i class="icon-gift"></i>
							</div>
							<div>
								<h5>로열티 프로그램</h5>
								<p>기프트카드, 할인, 쿠폰, 포인트</p>
							</div>
						</li>
						<li>
							<div>
								<img class="lazy inject-svg icon-hardware" src="../../images/svg/icon-hardware.svg" data-src="../../images/svg/icon-hardware.svg" alt="">
							</div>
							<div>
								<h5>하드웨어 구성을 사용자가 선택</h5>
								<p>매장특성에 맞는 하드웨어를 선택하여 연동 가능</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</article>
		<!-- #include file="../_inc/infomation.html" --><!-- / 상담문의 -->
	</section>
</main>
<!-- / Contents Area End-->
<!-- Footer Area -->
<footer id="footer-wrap">
	<!-- #include file="../_inc/footer.html" -->
</footer>
<!-- / Footer Area End -->
</body>
</html>