<!DOCTYPE html>
<!--[If lte IE 9]><html lang="ko-KR" class="ie8"><![endif]-->
<!--[if !IE]><!--><html lang="ko-KR"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>UP Solution - 업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.</title>
	<!-- Description, Keywords -->
	<meta name="description" content="업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.">
	<meta name="keywords" content="업솔루션코리아, UP Solution, Software">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no" />
	<!-- Styles -->
	<link rel="stylesheet" href="../../css/style.css">
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../images/icon/upsolution48.ico" />
	<link rel="apple-touch-icon" href="../../images/icon/upsolution114.ico" />
	<!-- #include file="../_inc/ie8.html" -->
	<script src="../../js/jquery.lazyload.js"></script><!-- / Image Lazyload -->
	<script src="../../js/smooth-scroll.js"></script><!-- / 상,위 이동 부드럽게 스크롤 -->
	<script src="../../js/echo.min.js"></script><!-- / loading Image -->
	<script src="js/svgeezy.min.js"></script><!-- / SVG 파일을 PNG 파일로 변환 -->
	<script src="../../js/classie.js"></script><!-- / Tab action & style 설정 -->
	<script src="../../js/svg-injector.min.js"></script><!-- / SVG 파일 CSS Style 적용 -->
	<script src="../../js/jquery.popupLayer.js"></script><!-- / 팝업 레이어 플러그인 -->
	<script src="../../js/kalypto.checked.js"></script><!-- / 체크박스 플러그인 -->
	<script src="../../js/common.js"></script><!-- / Script 공통 -->
</head>
<body>
<!-- Skip Navigation -->
<a href="#content-wrap" class="blind" >본문 바로가기</a>
<a href="#open_nav" class="blind">메뉴 바로가기</a>
<a href="#sitemap" class="blind">사이트맵 바로가기</a>
<!-- / Skip Navigation End -->
<!-- Quick menu & Popup -->
	<!-- #include file="../_inc/quick-menu.html" -->
<!-- Quick menu & Popup -->
<!-- Header Area -->
<header id="header-wrap">
	<!-- #include file="../_inc/header.html" -->
</header>
<!-- / Header Area End -->
<!-- Contents Area-->
<main id="content-wrap">
	<section class="content sub">
		<article class="up-shop-bg01">
			<h2 class="row top-title">UP Shop :</h2>
		</article>
		<article class="up-shop-bg02">
			<div class="row">
				<div>
					<img class="lazy" src="../../images/sub/up-shop/up-shop01.png" data-src="../../images/sub/up-shop/up-shop01.png" height="435" width="491" alt="">
				</div>
				<div>
					<h3 class="sub-title">업체통합 쇼핑몰 UP shop!!<br>
					업솔루션 이용 고객 무료입점!</h3>
					<p>UP Shop는 업솔루션에서 운영하는 통합온라인 쇼핑몰!<br>
					업솔루션 이용고객이면 누구나 온라인 사이트는 물론<br>
					통합 온라인 쇼핑몰 입점까지 무료로 입점 하실 수 있습니다. </p>
				</div>
			</div>
			<div class="row btn-set">
				<a href="../demo/demo.html" class="button-blue">솔루션 무료평가판 체험<i class="icon-play"></i></a>
				<a href="../price/price.html" class="button-blue">솔루션 상담<i class="icon-play"></i></a>
				<!-- <a href="#" class="button-blue">UP Shop 둘러보기<i class="icon-play"></i></a> -->
			</div>
		</article>
		<article  class="up-shop-bg03">
			<div class="row">
				<h3>반응형 웹서비스로 PC, 모바일 자유로운 온라인 사이트!</h3>
				<div class="col-one">
					<img class="lazy" src="../../images/sub/up-shop/up-shop02.png" data-src="../../images/sub/up-shop/up-shop02.png" height="336" width="554" alt="">
				</div>
				<div class="col-two">
					<h4>온라인 사이트<br>업솔루션 이용 고객 무료오픈!</h4>
					<p>ASP솔루션 이용 즉시 사이트 개설 및 운영 가능</p>
				</div>
				<ul class="box-icon">
					<li>
						<img class="lazy inject-svg icon-store" src="../../images/svg/icon-store.svg" data-src="../../images/svg/icon-store.svg" alt="">
						<p>매장소개</p>
					</li>
					<li>
						<i class="icon-map"></i>
						<p>위치안내</p>
					</li>
					<li>
						<i class="icon-clipboard"></i>
						<p>메뉴소개</p>
					</li>
					<li>
						<i class="icon-basket"></i>
						<p>주문</p>
					</li>
					<li>
						<i class="icon-wallet"></i>
						<p>결제</p>
					</li>
					<li>
						<i class="icon-gift"></i>
						<p>마케팅</p>
					</li>
					<li>
						<i class="icon-cloud"></i>
						<p>통합관리<br>(POS연동)</p>
					</li>
				</ul>
				<h4>쉽고 간단한 온라인 주문!</h4>
				<p>선주문으로 영업 프로세스 축소로 고객 서비스 향상에 도움이 되면,</p>
				<p>매장방문 뿐 아니라 온라인 잠재고객에게 판매, 홍보 함으로 매출을 극대화 시킬 수 있습니다.</p>
				<ul class="box-img">
					<li><img class="lazy" src="../../images/sub/up-shop/up-shop03.png" data-src="../../images/sub/up-shop/up-shop03.png" height="205" width="320" alt=""></li>
					<li><img class="lazy" src="../../images/sub/up-shop/up-shop04.png" data-src="../../images/sub/up-shop/up-shop04.png" height="471" width="320" alt=""></li>
					<li><img class="lazy" src="../../images/sub/up-shop/up-shop05.png" data-src="../../images/sub/up-shop/up-shop05.png" height="255" width="320" alt=""></li>
				</ul>

			</div>
		</article>
		<!-- #include file="../_inc/infomation.html" --><!-- / 상담문의 -->
	</section>
</main>
<!-- / Contents Area End-->
<!-- Footer Area -->
<footer id="footer-wrap">
	<!-- #include file="../_inc/footer.html" -->
</footer>
<!-- / Footer Area End -->
</body>
</html>