<!DOCTYPE html>
<!--[If lte IE 9]><html lang="ko-KR" class="ie8"><![endif]-->
<!--[if !IE]><!--><html lang="ko-KR"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>UP Solution - 업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.</title>
	<!-- Description, Keywords -->
	<meta name="description" content="업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.">
	<meta name="keywords" content="업솔루션코리아, UP Solution, Software">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no" />
	<!-- Styles -->
	<link rel="stylesheet" href="../../css/style.css">
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../images/icon/upsolution48.ico" />
	<link rel="apple-touch-icon" href="../../images/icon/upsolution114.ico" />
	<!-- #include file="../_inc/ie8.html" -->
	<script src="../../js/jquery.lazyload.js"></script><!-- / Image Lazyload -->
	<script src="../../js/smooth-scroll.js"></script><!-- / 상,위 이동 부드럽게 스크롤 -->
	<script src="../../js/echo.min.js"></script><!-- / loading Image -->
	<script src="js/svgeezy.min.js"></script><!-- / SVG 파일을 PNG 파일로 변환 -->
	<script src="../../js/classie.js"></script><!-- / Tab action & style 설정 -->
	<script src="../../js/svg-injector.min.js"></script><!-- / SVG 파일 CSS Style 적용 -->
	<script src="../../js/jquery.popupLayer.js"></script><!-- / 팝업 레이어 플러그인 -->
	<script src="../../js/kalypto.checked.js"></script><!-- / 체크박스 플러그인 -->
	<script src="../../js/common.js"></script><!-- / Script 공통 -->
</head>
<body>
<!-- Skip Navigation -->
<a href="#content-wrap" class="blind" >본문 바로가기</a>
<a href="#open_nav" class="blind">메뉴 바로가기</a>
<a href="#sitemap" class="blind">사이트맵 바로가기</a>
<!-- / Skip Navigation End -->
<!-- Quick menu & Popup -->
	<!-- #include file="../_inc/quick-menu.html" -->
<!-- Quick menu & Popup -->
<!-- Header Area -->
<header id="header-wrap">
	<!-- #include file="../_inc/header.html" -->
</header>
<!-- / Header Area End -->
<!-- Contents Area-->
<main id="content-wrap">
	<section class="content sub">
		<article class="utility-bg01">
			<h2 class="row top-title">Utility :</h2>
		</article>
		<article  class="utility-bg02">
			<div class="row">
				<div>
					<h4 class="sub-title">업솔루션 ASP Solution에서 제공하는<br>
					Utility 를 소개합니다.</h4>
					<p>원격지원 솔루션, 복구솔루션, 백신프로그램을 통해 </p>
					<p>고객님께 편리하고 빠른 서비스와 신뢰감 높은 보안 서비스를 </p>
					<p>제공합니다.</p>
				</div>
				<div>
					<img class="lazy" src="../../images/sub/utility/utility01.png" data-src="../../images/sub/utility/utility01.png" height="204" width="252" alt="">
				</div>
			</div>
			<div class="row btn-set">
				<a href="../demo/demo.html" class="button-blue">솔루션 무료평가판 체험<i class="icon-play"></i></a>
				<a href="../price/price.html" class="button-blue">솔루션 상담<i class="icon-play"></i></a>
			</div>
		</article>
		<article  class="utility-bg03">
			<div class="row">
				<div class="col-one">
					<h3>원격지원 솔루션</h3>
					<p>원격지원을 통해 고객의 문제를 보다 신속하게 진단하고 해결해 드립니다.</p>
					<div class="col-one">
						<img class="lazy" src="../../images/sub/utility/utility02-icon.png" data-src="../../images/sub/utility/utility02-icon.png" height="104" width="104" alt="">
					</div>
					<div class="col-two">
						<ul>
							<li>POS, PC, Mobile 기기 원격 서비스</li>
							<li>파일전송</li>
							<li>실시간 채팅</li>
							<li>화면회전</li>
							<li>녹화영상 제생</li>
						</ul>
					</div>
				</div>
				<div class="col-two">
					<img class="lazy" src="../../images/sub/utility/utility02.png" data-src="../../images/sub/utility/utility02.png" height="360" width="490" alt="">
				</div>
			</div>
		</article>
		<article  class="utility-bg04">
			<div class="row">
				<div class="col-one">
					<img class="lazy" src="../../images/sub/utility/utility03.png" data-src="../../images/sub/utility/utility03.png" height="295" width="482" alt="">
				</div>
				<div class="col-two">
					<h3>복구솔루션</h3>
					<p>WinClon 5.0 Premium는 POS에 에러가 발생했을때 복구해 주는 솔루션으로, POS를 가장 효율적으로 관리할 수 있습니다.</p>
					<img class="lazy" src="../../images/sub/utility/utility03-logo.png" data-src="../../images/sub/utility/utility03-logo.png" height="40" width="333" alt="">
					<ul>
						<li>기본 백업 영역 외 업데이트를 위한 별도 복원 영역 생성 가능</li>
						<li>파티션 별,디스크전체 선택 백업/복원</li>
						<li>다양한 외부미디어 백업 가능 (HDD, 외장하드, DVD, USB 등..)</li>
						<li>시스템 재 부팅이 필요 없는 백그라운드 백업 기능 제공</li>
						<li>자동 복원 및부팅 미디어 생성 기능</li>
						<li>정기 자동복원을 위한 스케줄링 복원 기능 지원</li>
						<li>Windows XP 이상, Linux O/S 지원</li>
					</ul>
				</div>
			</div>
		</article>
		<article  class="utility-bg05">
			<div class="row">
				<div class="col-one">
					<h3>백신프로그램</h3>
					<p>nProtect AntiVirus 3.0 으로 급변해가는 보안환경에 맞는<br>새로운 보안 해결책을 제공합니다.</p>
					<div class="col-one">
						<img class="lazy" src="../../images/sub/utility/utility04-icon.png" data-src="../../images/sub/utility/utility04-icon.png" height="107" width="101" alt="">
					</div>
					<div class="col-two">
						<ul>
							<li>개인정보 관리</li>
							<li>파일 암호화 및 파일 완전삭제</li>
							<li>악성 프로그램으로부터 보호</li>
							<li>악성코드 샘플 자동 수집 및 신고</li>
						</ul>
					</div>
				</div>
				<div class="col-two">
					<img class="lazy" src="../../images/sub/utility/utility04.png" data-src="../../images/sub/utility/utility04.png" height="383" width="489" alt="">
				</div>
			</div>
		</article>
		<!-- #include file="../_inc/infomation.html" --><!-- / 상담문의 -->
	</section>
</main>
<!-- / Contents Area End-->
<!-- Footer Area -->
<footer id="footer-wrap">
	<!-- #include file="../_inc/footer.html" -->
</footer>
<!-- / Footer Area End -->
</body>
</html>