/**  Fonts  **/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/**  Icon Fonts  **/
@font-face {
	font-family: 'imu-font-system';
	src:url('../fonts/imu-font-system.eot?68evct');
	src:url('../fonts/imu-font-system.eot?#iefix68evct') format('embedded-opentype'),
		url('../fonts/imu-font-system.woff?68evct') format('woff'),
		url('../fonts/imu-font-system.ttf?68evct') format('truetype'),
		url('../fonts/imu-font-system.svg?68evct#imu-font-system') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'imu-font-system';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cross2:before {content: "\e117";}
.icon-plus2:before {content: "\e114";}
.icon-minus2:before {content: "\e115";}
.icon-check:before {content: "\e116";}
.icon-menu:before {content: "\e120";}
.icon-repeat:before {content: "\e05a";}
.icon-move:before {content: "\e118";}
.icon-ban:before {content: "\e107";}
.icon-clipboard:before {content: "\e008";}
.icon-presentation:before {content: "\e00e";}
.icon-wallet:before {content: "\e016";}
.icon-gift:before {content: "\e017";}
.icon-ribbon:before {content: "\e01e";}
.icon-shield:before {content: "\e022";}
.icon-map:before {content: "\e025";}
.icon-basket:before {content: "\e027";}
.icon-cloud:before {content: "\e04b";}
.icon-global:before {content: "\e052";}
.icon-scope:before {content: "\e058";}
.icon-alarmclock:before {content: "\e059";}
.icon-happy:before {content: "\e05b";}
.icon-cloud2:before {content: "\e606";}
.icon-pencil-neg:before {content: "\ec50";}
.icon-cancel-3:before {content: "\ec34";}
.icon-left-open-2:before {content: "\eb90";}
.icon-right-open-2:before {content: "\eb92";}
.icon-pencil-2:before {content: "\eb48";}
.icon-play-circled-1:before {content: "\ef4c";}
.icon-pencil-6:before {content: "\eefb";}
.icon-clock-5:before {content: "\ed8b";}
.icon-play-circled2-1:before {content: "\ef4d";}
.icon-upload-2:before {content: "\eb3d";}
.icon-download-2:before {content: "\eb3b";}
.icon-zoom-in-1:before {content: "\eb8b";}
.icon-zoom-out-1:before {content: "\eb8d";}
.icon-plus-2:before {content: "\eb1c";}
.icon-minus-2:before {content: "\eb1e";}
.icon-cancel-2:before {content: "\eb16";}
.icon-ok-1:before {content: "\eb14";}
.icon-lock-filled:before {content: "\eb2c";}
.icon-lock-open-filled:before {content: "\eb2e";}
.icon-uniF0DA:before {content: "\f0da";}
.icon-uniF0DD:before {content: "\f0dd";}
.icon-uniF107:before {content: "\f107";}
.icon-uniF00C:before {content: "\f00c";}
.icon-uniF077:before {content: "\f077";}
.icon-uniF002:before {content: "\f002";}
.icon-uniF005:before {content: "\f005";}
.icon-uniF013:before {content: "\f013";}
.icon-uniF019:before {content: "\f019";}
.icon-uniF01D:before {content: "\f01d";}
.icon-uniF02C:before {content: "\f02c";}
.icon-uniF011:before {content: "\f011";}
.icon-uniF081:before {content: "\f081";}
.icon-uniF082:before {content: "\f082";}
.icon-uniF084:before {content: "\f084";}
.icon-uniF0B1:before {content: "\f0b1";}
.icon-uniF0C7:before {content: "\f0c7";}
.icon-uniF0C2:before {content: "\f0c2";}
.icon-uniF0C0:before {content: "\f0c0";}
.icon-uniF0D3:before {content: "\f0d3";}
.icon-uniF0E0:before {content: "\f0e0";}
.icon-uniF0D4:before {content: "\f0d4";}
.icon-uniF1AD:before {content: "\f1ad";}
.icon-uniF132:before {content: "\f132";}
.icon-uniF144:before {content: "\f144";}
.icon-uniF111:before {content: "\f111";}
.icon-uniF10C:before {content: "\f10c";}
.icon-earth:before {content: "\e607";}
.icon-play:before {content: "\e600";}
.icon-pause:before {content: "\e605";}
.icon-search:before {content: "\e601";}
.icon-zoomin:before {content: "\e602";}
.icon-zoomout:before {content: "\e603";}
.icon-clock:before {content: "\e604";}
.icon-cross:before {content: "\e608";}
.icon-minus:before {content: "\e609";}
.icon-plus:before {content: "\e60a";}