<div class="footer row">
	<!-- Site Map -->
	<div class="sitemap">
		<div>
			<ul>
				<h5><a id="sitemap"  href="/upsolution/views/product/overview.html">제품</a></h5>
				<li ><a href="/upsolution/views/product/overview.html">Overview</a></li>
				<li><a href="/upsolution/views/product/up-cloud.html">UP Cloud</a></li>
				<li><a href="/upsolution/views/product/up-salon.html">UP Salon</a></li>
				<li><a href="/upsolution/views/product/up-hospital.html">UP Hospital</a></li>
			</ul>
			<ul>
				<li><a href="/upsolution/views/product/up-restaurant.html">UP Restaurant</a></li>
				<li><a href="/upsolution/views/product/up-shop.html">UP Shop</a></li>
				<li><a href="/upsolution/views/product/usms.html">통합지원관리</a></li>
				<li><a href="/upsolution/views/product/utility.html">Utility</a></li>
			</ul>
		</div>
		<div>
			<ul>
				<h5><a href="/upsolution/views/support/hardware.html">지원</a></h5>
				<li><a href="/upsolution/views/support/hardware.html">하드웨어</a></li>
				<li><a href="/upsolution/views/support/qna.html">자주하는 질문</a></li>
				<li><a href="/upsolution/views/support/teaching.html">교육동영상</a></li>
				<li><a href="/upsolution/views/support/source.html">자료실</a></li>
			</ul>
			<ul>
				<h5><a href="/upsolution/views/demo/demo.html">데모</a></h5>
				<h5><a href="/upsolution/views/price/price.html">가격</a></h5>
				<h5><a href="/upsolution/views/customer/customer.html">고객</a></h5>
				<h5><a href="http://106.243.13.147:7778" target="_blank">UP Cloud 로그인</a></h5>
				<h5><a href="http://106.243.13.147:8003" target="_blank">세일즈 파트너 로그인</a></h5>
			</ul>
		</div>			
	</div>
	<!-- Site Map End -->
	<!-- Infomaition Center Map -->
	<div class="infomap">
		<img class="lazy" src="/upsolution/images/svg/imu-footer-logo.svg" data-src="/images/svg/up-footer-logo.svg" alt="주식회사 아임유">
		<p>서울특별시 금천구 가산디지털 2로 (가산동. 대륭테크노타운 3차)</p>
		<p><span>Tel. 1566-4574</span>
		<span>Fax. 02-2107-3364</span></p>
		<p><a href="/upsolution/views/company/privacy.html"><i class="icon-uniF0DA"></i>개인정보취급방침</a>
		<a href="/upsolution/views/company/company.html"><i class="icon-uniF0DA"></i>회사소개</a></p>		
	</div>
	<!-- Infomaition Center Map End -->
	<!-- Copyright -->
	<div class="copyright">
		<div class="copy">
			<address>Copyright © 2014 I’mU Inc. all rights reserved.</address>
			<a href="#"class="button-login trigger-login" data-target=".popup-layer-login"><i class="icon-uniF011"></i>로그인</a>
			<!-- Popup -->
				<!-- #include file="../_popup/login.html" -->
			<!-- Popup -->
		</div>
		<div class="likes">
			<a href="javascript:SNS.Share('Twitter', 'UP Solution', '@Request.Url.ToString()');">
				<i class="icon-uniF081"></i></a>
			<a href="javascript:SNS.Share('FaceBook','UP Solution', '@Request.Url.ToString()');">
				<i class="icon-uniF082"></i></a>
			<a href="javascript:SNS.Share('GooglePlus', 'UP Solution', '@Request.Url.ToString()');">
				<i class="icon-uniF0D4"></i></a>
			<a href="javascript:SNS.Share('Pinterest', 'UP Solution', '@Request.Url.ToString()');"data-pin-do="buttonPin" data-pin-config="above">
				<i class="icon-uniF0D3"></i></a>
		</div>
		<div class="search-set">
			<select class="cs-select cs-skin-border">
				<option value="Family Site" disabled selected>Family Site</option>
				<option value="P2C" data-link="http://p2c.co.kr">P2C</option>
				<option value="IMU" data-link="http://im-u.co.kr">IMU</option>
			</select>
		</div>		
	</div>
	<!-- Copyright End -->
</div>
<script src="/js/selectFx.js"></script><!-- / Select action & style 설정 -->