<div class="header row">
	<!-- logo -->
	<h1 class="logo"><a href="/upsolution/index.html"><img class="lazy inject-svg svg-logo" src="/upsolution/images/svg/up-logo.svg" data-src="/upsolution/images/svg/up-logo.svg" alt=""></a></h1>
	<!-- / logo End -->
	<!-- Menu -->
	<button id="open_nav_link" class="btn-menu"><img src="/upsolution/images/common/menu.png" alt="메뉴버튼"></button>
	<nav>
		<ul class="menu" id="open_nav">
			<li id="sub_product">
				<a href="javascript:mainmenuClick('/upsolution/views/product/overview.html');">제품</a><i class="icon-uniF107"></i>
				<ul class="menu-sub" id="sub_product_open">
					<li><i class="icon-uniF144"></i><a href="/upsolution/views/product/overview.html">Overview </a></li>
					<li><i class="icon-uniF144"></i><a href="/upsolution/views/product/up-cloud.html">UP Cloud</a></li>
					<li><i class="icon-uniF144"></i><a href="/upsolution/views/product/up-salon.html">UP Salon </a></li>
					<li><i class="icon-uniF144"></i><a href="/upsolution/views/product/up-hospital.html">UP Hospital</a></li>
					<li><i class="icon-uniF144"></i><a href="/upsolution/views/product/up-restaurant.html">UP Restaurant</a></li>
					<li><i class="icon-uniF144"></i><a href="/upsolution/views/product/up-shop.html">UP Shop</a></li>
					<li><i class="icon-uniF144"></i><a href="/upsolution/views/product/usms.html">통합지원관리</a></li>
					<li><i class="icon-uniF144"></i><a href="/upsolution/views/product/utility.html">Utility</a></li>
				</ul>
			</li>
			<li id="sub_support">
				<a href="javascript:mainmenuClick('/upsolution/views/support/hardware.html');">지원</a><i class="icon-uniF107"></i>
				<ul class="menu-sub" id="sub_support_open">
					<li><i class="icon-uniF144"></i><a href="/upsolution/views/support/hardware.html">하드웨어</a></li>
					<li><i class="icon-uniF144"></i><a href="/upsolution/views/support/qna.html">자주하는 질문</a></li>
					<li><i class="icon-uniF144"></i><a href="/upsolution/views/support/teaching.html">교육동영상</a></li>
					<li><i class="icon-uniF144"></i><a href="/upsolution/views/support/source.html">자료실</a></li>
				</ul>
			</li>
			<li id="sub_demo">
				<a href="javascript:mainmenuClick('/upsolution/views/demo/demo.html');">데모</a>
				<ul class="menu-sub"  id="sub_demo_open">
					<li><a href="/upsolution/views/demo/demo.html">데모</a></li>
				</ul>
			</li>
			<li id="sub_price">
				<a href="javascript:mainmenuClick('/upsolution/views/price/price.html');">가격</a>
				<ul class="menu-sub"  id="sub_price_open">
					<li><a href="/upsolution/views/price/price.html">가격</a></li>
				</ul>
			</li>
			<li id="sub_customer">
				<a href="javascript:mainmenuClick('/upsolution/views/customer/customer.html');">고객</a>
				<ul class="menu-sub"  id="sub_customer_open">
					<li><a href="/upsolution/views/customer/customer.html">고객</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<!-- / Menu End -->
	<!-- Search -->
	<div class="login-box">
		<button type="button" onclick=" window.open('http://106.243.13.147:8003');"><i class="icon-uniF0C2"></i>UP Cloud  로그인</button>
		<button type="button" onclick="window.open('http://106.243.13.147:7788'); "><i class="icon-uniF0B1"></i>세일즈파트너 로그인</button>
	</div>
	<!-- / Search End -->
</div>