<!-- IE 8- : jQuery 호출 -->
<!--[if lt IE 9]>
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script>window.jQuery||document.write('<script src="/js/jquery.min.js"><\/script>')</script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="https://raw.githubusercontent.com/scottjehl/Respond/master/src/respond.js"></script>
<![endif]-->

<!-- IE 9+ : jQuery 2 호출 -->
<!--[if gte IE 9]><!-->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script>window.jQuery||document.write('<script src="/js/jquery-2.1.1.min.js"><\/script>')</script>
<!--<![endif]-->

<!--windows XP 또는 ie9 이하 브라우저 업그레이드 권장 페이지 -->
<!--[if lte IE 9]>
<div class="pos-wrap">
	<div class="pos-header">
		<p class="caution">
			사용 중이신 브라우저는 오래된 버전의 브라우저이기에 보안 및 성능 문제가 있습니다.<br>
			빠르고 안전한 <a href="http://www.whatbrowser.org/intl/ko/" target="_blank">최신 브라우저<span>(설치)</span></a>로 업그레이드하시면 보다 빠르고 안전하게 ImU Site의 더 많은 정보를 이용하실 수 있습니다.
		</p>
	</div>
	<div class="pos-contant">
		<h1><img src="/images/ie/img-inc.gif" alt=""><br><img src="/images/ie/imu-logo.gif" alt="주식회사 아임유"></h1>
		<p>아임유는 POS부문의 하드웨어, 소프트웨어의 각 분야별 최고의 수준의 인재와 기술역량을 보유하고<br>
		고객에게 최상의 부가가치를 실현해 드리고 있습니다.</p>
		<div class="login-box">
			<button onclick=" window.open('http://asp.upsolution.co.kr');" type="button"><i class="icon-uniF0C2"></i>UP Cloud  로그인</button>
			<button onclick="window.open('http://usms.upsolution.co.kr'); " type="button"><i class="icon-uniF0B1"></i>세일즈파트너 로그인</button>
		</div>
		<ul>
			<li><img src="/images/ie/p2c-box.gif" alt="P2C "></li>
			<li><img src="/images/ie/up-box.gif" alt="UP Solution"></li>
			<li><img src="/images/ie/db-box.gif" alt="DB 구축"></li>
		</ul>
	</div>
	<div class="pos-footer">
		<p>주식회사 아임유 ㅣ 서울특별시 금천구 가산디지털2로 115, 609호 (가산동, 대륭테크노타운3차) Tel. 1566-4574   Fax. 02-2107-3364<br>
		Copyright © 2014 I`mU Inc. all rights reserved.</p>
	</div>
</div>
<![endif]-->