<div class="popup-layer-inquire" role="alert">
	<div class="container">
		<header>
			<h1 class="title"><i class="icon-uniF0E0"></i>상담문의</h1>
			<a href="#0" class="close popup-close"><span>Close</span></a>
		</header>
		<ul>
			<li><input type="text" placeholder="이름을 입력하세요"><p class="error-message">이름을 입력해주세요.</p></li>
			<li><input type="text" placeholder="핸드폰 번호를 입력하세요"><p class="error-message">핸드폰 번호을 입력해주세요.</p></li>
			<li><input type="text" placeholder="이메일 주소를 입력하세요"><p class="error-message">이메일 주소를 입력해주세요.</p></li>
			<li>
				<select>
					<option default selected>제품을 선택하세요</option>
					<option>UP 살롱</option>
					<option>UP 병원</option>
					<option>UP 레스토랑</option>
					<option>기타</option>
				</select>
				<p class="error-message">제품을 선택해주세요.</p>
			</li>
			<li><textarea name="" id="" cols="30" rows="10" placeholder="상담내용을 입력하세요."></textarea></li>
			<li><a href="#" class="button-skyblue">상담문의 보내기</a></li>
		</ul>
	</div>
</div>