<div class="popup-layer-login" role="alert">
	<div class="container">
		<header>
			<h1 class="logo"><img class="lazy inject-svg svg-logo" src="/upsolution/images/svg/up-logo.svg" data-src="/upsolution/images/svg/up-logo.svg" alt=""></h1>
			<a href="#0" class="close popup-close"><span>Close</span></a>
		</header>
		<ul>
			<h2><i class="icon-lock-filled"></i>Login</h2>
			<li>
				<input type="text" placeholder="ID">
			</li>
			<li>
				<input type="text" placeholder="Password">
				<p class="error-message">아이디 혹은 비밀번호가 일치하지 않습니다.</p>
			</li>
			<li>
				<div class="checkbox">
					<label for="save">Save User Info</label>
					<input class="save" type="checkbox">
				</div>
				<a href="#" class="button-dark-gray">Login</a>
			</li>
		</ul>
		<footer>
			<address>Copyright © 2014 I’mU Inc. all rights reserved.</address>	
		</footer>
	</div>
</div>