<!DOCTYPE html>
<!--[If lte IE 9]><html lang="ko-KR" class="ie8"><![endif]-->
<!--[if !IE]><!--><html lang="ko-KR"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>UP Solution - 업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.</title>
	<!-- Description, Keywords -->
	<meta name="description" content="업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.">
	<meta name="keywords" content="업솔루션코리아, UP Solution, Software">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no" />
	<!-- Styles -->
	<link rel="stylesheet" href="../../css/style.css">
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../images/icon/upsolution48.ico" />
	<link rel="apple-touch-icon" href="../../images/icon/upsolution114.ico" />
	<!-- #include file="../_inc/ie8.html" -->
	<script src="../../js/jquery.lazyload.js"></script><!-- / Image Lazyload -->
	<script src="../../js/smooth-scroll.js"></script><!-- / 상,위 이동 부드럽게 스크롤 -->
	<script src="../../js/echo.min.js"></script><!-- / loading Image -->
	<script src="js/svgeezy.min.js"></script><!-- / SVG 파일을 PNG 파일로 변환 -->
	<script src="../../js/classie.js"></script><!-- / Tab action & style 설정 -->
	<script src="../../js/svg-injector.min.js"></script><!-- / SVG 파일 CSS Style 적용 -->
	<script src="../../js/jquery.popupLayer.js"></script><!-- / 팝업 레이어 플러그인 -->
	<script src="../../js/kalypto.checked.js"></script><!-- / 체크박스 플러그인 -->
	<script src="../../js/common.js"></script><!-- / Script 공통 -->
</head>
<body>
<!-- Skip Navigation -->
<a href="#content-wrap" class="blind" >본문 바로가기</a>
<a href="#open_nav" class="blind">메뉴 바로가기</a>
<a href="#sitemap" class="blind">사이트맵 바로가기</a>
<!-- / Skip Navigation End -->
<!-- Quick menu & Popup -->
	<!-- #include file="../_inc/quick-menu.html" -->
<!-- Quick menu & Popup -->
<!-- Header Area -->
<header id="header-wrap">
	<!-- #include file="../_inc/header.html" -->
</header>
<!-- / Header Area End -->
<!-- Contents Area-->
<main id="content-wrap">
	<section class="content sub">
		<article class="support-bg">
			<h2 class="row top-title">Hardware :</h2>
		</article>
		<article class="support-list">
			<div class="row">
				<h4 class="sub-title">하드웨어 구성을 사용자가 선택</h4>
				<p>매장특성에 맞는 하드워어를 선택하여 연동 가능</p>
				<p>POS, Cash Drawers , Receipt Printers, tablet, Barcode Scanners , Card Readers ...</p>
			</div>
		</article>
		<article class="hardware">
			<div class="row">
				<ul>
					<li>
						<img class="lazy" src="../../images/sub/hardware/p2c-100-series.png" data-src="../../images/sub/hardware/p2c-100-series.png" height="288" width="235" alt="" alt="">
						<h4>POS</h4>
						<p class="model">모델명 : P2C 100 Series</p>
						<p>Slim &amp; Sleek Style POS System<br>
							저발열, 저소음 Fan-less 방식 구현<br>
							세계 최초 좌우 I/O 배치로 효율적 관리<br>
							정보 유출 차단을 위한 안전한 보안모듈 적용!</p>
						<div>
							<a href="http://p2c.co.kr" class="button-default" target="_blank">P2C 홈페이지 제품상세보기<i class="icon-uniF0DA"></i></a>
							<a href="../price/price.html" class="button-default">구입문의<i class="icon-uniF0DA"></i></a>
						</div>
					</li>
					<li>
						<img class="lazy" src="../../images/sub/hardware/p2c-t5.png" data-src="../../images/sub/hardware/p2c-t5.png" height="288" width="235" alt="" alt="">
						<h4>POS</h4>
						<p class="model">모델명 : P2C T5</p>
						<p>Ultra Mobility System<br>
							안드로이드 기반의 스마트한 POS<br>
							편리한 휴대성으로 자유로운 고객서비스, 실시간 관리<br>
							솔루션 어플 설치로 간편한 유지보수</p>
						<div>
							<a href="http://p2c.co.kr" class="button-default" target="_blank">P2C 홈페이지 제품상세보기<i class="icon-uniF0DA"></i></a>
							<a href="../price/price.html" class="button-default">구입문의<i class="icon-uniF0DA"></i></a>
						</div>
					</li>
					<li>
						<img class="lazy" src="../../images/sub/hardware/cs4041e-2.png" data-src="../../images/sub/hardware/cs4041e-2.png" height="288" width="235" alt="" alt="">
						<h4>Cash Drawers</h4>
						<p class="model">모델명 : CS4041E-2</p>
						<p>서랍 전면 스타일<br>
							우수한 내구성과 견고한 설계, 부드러운 여닫힘과 긴수명으로 신뢰성 높음.</p>
						<div>
							<a href="../price/price.html" class="button-default">구입문의<i class="icon-uniF0DA"></i></a>
						</div>
					</li>
					<li>
						<img class="lazy" src="../../images/sub/hardware/lm-d900-lm-c900.png" data-src="../../images/sub/hardware/lm-d900-lm-c900.png" height="288" width="235" alt="" alt="">
						<h4>Pager System</h4>
						<p class="model">모델명 : LM-D900 / LM-C900</p>
						<p>고객이 대기하고 있는 어느 곳이든 신속하게 호출<br>
							빠른 호출로 고객 만족과 함께 업무의 효율성 향상</p>
						<div>
							<a href="../price/price.html" class="button-default">구입문의<i class="icon-uniF0DA"></i></a>
						</div>
					</li>
				</ul>
				<!-- <ul>
					<li>
						<img class="lazy" src="../../images/sub/hardware/p2c-150-series.png" data-src="../../images/sub/hardware/p2c-150-series.png" height="288" width="235" alt="" alt="">
						<h4>POS</h4>
						<p class="model">모델명 : P2C 150 Series</p>
						<p>Multi-Simple POS System<br>
							공간에 품격을 살리는 프린터 일체형<br>
							저발열, 저소음 Fan-less 방식 구현<br>
							정보 유출 차단을 위한 안전한 보안모듈 적용</p>
						<div>
							<a href="http://p2c.co.kr" class="button-default" target="_blank">P2C 홈페이지 제품상세보기<i class="icon-uniF0DA"></i></a>
							<a href="../price/price.html" class="button-default">구입문의<i class="icon-uniF0DA"></i></a>
						</div>
					</li>
				</ul> 모델 제작 진행중 보류 -->
			</div>
		</article>
		<!-- <article class="support-list row">
			<img class="lazy" src="../../images/sub/hardware/hardware01.png" data-src="../../images/sub/hardware/hardware01.png" height="1182" width="1000" alt="" usemap="#Map">
				<map name="Map" id="Map"><area shape="rect" coords="766,456,854,485" href="../price/price.html" /><area shape="rect" coords="256,1151,344,1180" href="../price/price.html" />
				<area shape="rect" coords="3,1108,91,1137" href="../price/price.html" /><area shape="rect" coords="511,534,599,563" href="../price/price.html" />
				<area shape="rect" coords="256,534,344,563" href="../price/price.html" />
				<area shape="rect" coords="1,500,201,529" href="http://p2c.co.kr/en/hardware/pos#Pos100" target="_blank" />
				<area shape="rect" coords="255,499,455,529" href="http://p2c.co.kr/en/hardware/pos#T5" />
				<area shape="rect" coords="2,535,90,564" href="../price/price.html" />
			</map>
		</article> -->
		<!-- #include file="../_inc/infomation.html" --><!-- / 상담문의 -->
	</section>
</main>
<!-- / Contents Area End-->
<!-- Footer Area -->
<footer id="footer-wrap">
	<!-- #include file="../_inc/footer.html" -->
</footer>
<!-- / Footer Area End -->
</body>
</html>