<!DOCTYPE html>
<!--[If lte IE 9]><html lang="ko-KR" class="ie8"><![endif]-->
<!--[if !IE]><!--><html lang="ko-KR"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>UP Solution - 업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.</title>
	<!-- Description, Keywords -->
	<meta name="description" content="업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.">
	<meta name="keywords" content="업솔루션코리아, UP Solution, Software">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no" />
	<!-- Styles -->
	<link rel="stylesheet" href="../../css/style.css">
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../images/icon/upsolution48.ico" />
	<link rel="apple-touch-icon" href="../../images/icon/upsolution114.ico" />
	<!-- #include file="../_inc/ie8.html" -->
	<script src="../../js/jquery.lazyload.js"></script><!-- / Image Lazyload -->
	<script src="../../js/smooth-scroll.js"></script><!-- / 상,위 이동 부드럽게 스크롤 -->
	<script src="../../js/echo.min.js"></script><!-- / loading Image -->
	<script src="js/svgeezy.min.js"></script><!-- / SVG 파일을 PNG 파일로 변환 -->
	<script src="../../js/classie.js"></script><!-- / Tab action & style 설정 -->
	<script src="../../js/svg-injector.min.js"></script><!-- / SVG 파일 CSS Style 적용 -->
	<script src="../../js/jquery.popupLayer.js"></script><!-- / 팝업 레이어 플러그인 -->
	<script src="../../js/kalypto.checked.js"></script><!-- / 체크박스 플러그인 -->
	<script src="../../js/common.js"></script><!-- / Script 공통 -->
</head>
<body>
<!-- Skip Navigation -->
<a href="#content-wrap" class="blind" >본문 바로가기</a>
<a href="#open_nav" class="blind">메뉴 바로가기</a>
<a href="#sitemap" class="blind">사이트맵 바로가기</a>
<!-- / Skip Navigation End -->
<!-- Quick menu & Popup -->
	<!-- #include file="../_inc/quick-menu.html" -->
<!-- Quick menu & Popup -->
<!-- Header Area -->
<header id="header-wrap">
	<!-- #include file="../_inc/header.html" -->
</header>
<!-- / Header Area End -->
<!-- Contents Area-->
<main id="content-wrap">
	<section class="content sub">
		<article class="support-bg">
			<h2 class="row top-title">Reference Room :</h2>
		</article>
		<article class="support-list" >
			<div class="row">
				<h4 class="sub-title">솔루션 이용에 도움이 되는 유용한 자료 입니다.</h4>
				<p>솔루션 사용중 궁금하신 점이 있으시신가요?</p>
				<p>1566-4574로 전화문의 또는 상담문의 남겨주시면 친절히 상담해 드리겠습니다.</p>
			</div>
		</article>
		<article class="row">
			<div class="form form-line">
				<dl>
					<dt>제목</dt>
					<dd><span>솔루션 자료 제공합니다.</span></dd>
				</dl>
				<div class="col-2">
					<dl>
						<dt>등록일</dt>
						<dd><span>2015.01.01</span></dd>
					</dl>
					<dl>
						<dt>조회수</dt>
						<dd><span>123</span></dd>
					</dl>
				</div>
				<dl>
					<dt>다운로드</dt>
					<dd><span>C-100.jpg</span></dd>
				</dl>
				<dl>
					<dt>질문</dt>
					<dd><span class="line-none"><textarea name="" id="" cols="30" rows="10">솔루션 자료 입니다.</textarea></span></dd>
				</dl>
			</div>
			<div class="from-btn">
				<a href="#" class="button-skyblue">수정</a>
				<a href="#" class="button-orange">삭제</a>
				<a href="source.html" class="button-dark-gray">목록</a>
			</div>
		</article>
	<!-- #include file="../_inc/infomation.html" --><!-- / 상담문의 -->
	</section>
</main>
<!-- / Contents Area End-->
<!-- Footer Area -->
<footer id="footer-wrap">
	<!-- #include file="../_inc/footer.html" -->
</footer>
<!-- / Footer Area End -->
</body>
</html>