<!DOCTYPE html>
<!--[If lte IE 9]><html lang="ko-KR" class="ie8"><![endif]-->
<!--[if !IE]><!--><html lang="ko-KR"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>UP Solution - 업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.</title>
	<!-- Description, Keywords -->
	<meta name="description" content="업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.">
	<meta name="keywords" content="업솔루션코리아, UP Solution, Software">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no" />
	<!-- Styles -->
	<link rel="stylesheet" href="../../css/style.css">
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../images/icon/upsolution48.ico" />
	<link rel="apple-touch-icon" href="../../images/icon/upsolution114.ico" />
	<!-- #include file="../_inc/ie8.html" -->
	<script src="../../js/jquery.lazyload.js"></script><!-- / Image Lazyload -->
	<script src="../../js/smooth-scroll.js"></script><!-- / 상,위 이동 부드럽게 스크롤 -->
	<script src="../../js/echo.min.js"></script><!-- / loading Image -->
	<script src="js/svgeezy.min.js"></script><!-- / SVG 파일을 PNG 파일로 변환 -->
	<script src="../../js/classie.js"></script><!-- / Tab action & style 설정 -->
	<script src="../../js/svg-injector.min.js"></script><!-- / SVG 파일 CSS Style 적용 -->
	<script src="../../js/jquery.popupLayer.js"></script><!-- / 팝업 레이어 플러그인 -->
	<script src="../../js/kalypto.checked.js"></script><!-- / 체크박스 플러그인 -->
	<script src="../../js/common.js"></script><!-- / Script 공통 -->
</head>
<body>
<!-- Skip Navigation -->
<a href="#content-wrap" class="blind" >본문 바로가기</a>
<a href="#open_nav" class="blind">메뉴 바로가기</a>
<a href="#sitemap" class="blind">사이트맵 바로가기</a>
<!-- / Skip Navigation End -->
<!-- Quick menu & Popup -->
	<!-- #include file="../_inc/quick-menu.html" -->
<!-- Quick menu & Popup -->
<!-- Header Area -->
<header id="header-wrap">
	<!-- #include file="../_inc/header.html" -->
</header>
<!-- / Header Area End -->
<!-- Contents Area-->
<main id="content-wrap">
	<section class="content sub">
		<article class="price-bg01">
			<div class="row">
				<div>
					<h3 class="sub-title"><i class="icon-uniF02C"></i>가격안내</h3>
					<p>30일간 무료평가판 체험 가능하며</p>
					<p>월이용료는 업종 및 규모에 따라 변동 되므로</p>
					<p>전화상담(1566-4574) 또는 아래 제품 및 가격 상담문의 주시면</p>
					<p>견적안내 드리겠습니다.</p>
				</div>
				<div>
					<img class="lazy" src="../../images/sub/price/price01.png" data-src="../../images/sub/price/price01.png" height="243" width="394" alt="">
				</div>
			</div>
			<div class="row btn-set">
				<a href="../demo/demo.html" class="button-blue">솔루션 무료평가판 체험<i class="icon-play"></i></a>
			</div>
		</article>
		<article  class="price-bg02">
			<div class="row">
				<h4>제품 및 가격 상담문의</h4>
				<p>제품 및 가격 상담문의 주시면 빠른시간 안에 답변 드리겠습니다. <br>
				<small><i class="icon-uniF005"></i>필수입력 항목입니다. 반드시 기재해 주시기 바랍니다.</small></p>
				<div class="form">
					<dl>
						<dt class="star">이름</dt>
						<dd><input type="text" ></dd>
					</dl>
					<dl>
						<dt class="star">이메일</dt>
						<dd><input type="text" ></dd>
					</dl>
					<div class="col-2">
						<dl>
							<dt>회사명</dt>
							<dd><input type="text" ></dd>
						</dl>
						<dl>
							<dt class="star">국가</dt>
							<dd>
								<select>
									<option>- 국가 선택 -</option>
									<option>한국</option>
									<option>미국</option>
									<option>중국</option>
									<option>일본</option>
									<option>인도</option>
								</select>
							</dd>
						</dl>
					</div>
					<div class="col-2">
						<dl>
							<dt class="star">전화</dt>
							<dd><input type="text" ></dd>
						</dl>
						<dl>
							<dt>핸드폰</dt>
							<dd><input type="text" ></dd>
						</dl>
					</div>
					<dl>
						<dt>주소</dt>
						<dd><input type="text" ></dd>
					</dl>
					<dl>
						<dt class="star">제품</dt>
						<dd>
							<select>
								<option>- 제품 선택 -</option>
								<option>C-100</option>
								<option>T-100</option>
								<option>P-100</option>
								<option>A-100</option>
							</select>
						</dd>
					</dl>
					<dl>
						<dt>질문</dt>
						<dd><textarea name="" id="" cols="30" rows="10"></textarea></dd>
					</dl>
				</div>
				<div class="from-btn">
					<a href="#" class="button-orange">다시쓰기</a>
					<a href="price-list.html" class="button-skyblue">보내기</a>
				</div>
			</div>
		</article>
		<!-- #include file="../_inc/infomation.html" --><!-- / 상담문의 -->
	</section>
</main>
<!-- / Contents Area End-->
<!-- Footer Area -->
<footer id="footer-wrap">
	<!-- #include file="../_inc/footer.html" -->
</footer>
<!-- / Footer Area End -->
</body>
</html>