<!DOCTYPE html>
<!--[If lte IE 9]><html lang="ko-KR" class="ie8"><![endif]-->
<!--[if !IE]><!--><html lang="ko-KR"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>UP Solution - 업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.</title>
	<!-- Description, Keywords -->
	<meta name="description" content="업솔루션코리아는 POS 소프트웨어 개발을 전문적으로 하는 기업입니다.">
	<meta name="keywords" content="업솔루션코리아, UP Solution, Software">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no" />
	<!-- Styles -->
	<link rel="stylesheet" href="../../css/style.css">
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../images/icon/upsolution48.ico" />
	<link rel="apple-touch-icon" href="../../images/icon/upsolution114.ico" />
	<!-- #include file="../_inc/ie8.html" -->
	<script src="../../js/jquery.lazyload.js"></script><!-- / Image Lazyload -->
	<script src="../../js/smooth-scroll.js"></script><!-- / 상,위 이동 부드럽게 스크롤 -->
	<script src="../../js/echo.min.js"></script><!-- / loading Image -->
	<script src="js/svgeezy.min.js"></script><!-- / SVG 파일을 PNG 파일로 변환 -->
	<script src="../../js/classie.js"></script><!-- / Tab action & style 설정 -->
	<script src="../../js/svg-injector.min.js"></script><!-- / SVG 파일 CSS Style 적용 -->
	<script src="../../js/jquery.popupLayer.js"></script><!-- / 팝업 레이어 플러그인 -->
	<script src="../../js/kalypto.checked.js"></script><!-- / 체크박스 플러그인 -->
	<script src="../../js/common.js"></script><!-- / Script 공통 -->
</head>
<body>
<!-- Skip Navigation -->
<a href="#content-wrap" class="blind" >본문 바로가기</a>
<a href="#open_nav" class="blind">메뉴 바로가기</a>
<a href="#sitemap" class="blind">사이트맵 바로가기</a>
<!-- / Skip Navigation End -->
<!-- Quick menu & Popup -->
	<!-- #include file="../_inc/quick-menu.html" -->
<!-- Quick menu & Popup -->
<!-- Header Area -->
<header id="header-wrap">
	<!-- #include file="../_inc/header.html" -->
</header>
<!-- / Header Area End -->
<!-- Contents Area-->
<main id="content-wrap">
	<section class="content sub">
		<article class="price-bg01">
			<div class="row">
				<div>
					<h3 class="sub-title"><i class="icon-uniF02C"></i>가격안내</h3>
					<p>30일간 무료평가판 체험 가능하며</p>
					<p>월이용료는 업종 및 규모에 따라 변동 되므로</p>
					<p>전화상담(1566-4574) 또는 아래 제품 및 가격 상담문의 주시면</p>
					<p>견적안내 드리겠습니다.</p>
				</div>
				<div>
					<img class="lazy" src="../../images/sub/price/price01.png" data-src="../../images/sub/price/price01.png" height="243" width="394" alt="">
				</div>
			</div>
			<div class="row btn-set">
				<a href="../demo/demo.html" class="button-blue">솔루션 무료평가판 체험<i class="icon-play"></i></a>
			</div>
		</article>
		<article  class="price-bg02">
			<div class="row">
				<div class="search_wrap" >
					<div class="form-group" role="search">
						<select>
							<option value="">ALL</option>
							<option value="">Solution</option>
							<option value="">Salon</option>
							<option value="">Hospital</option>
							<option value="">Restaurant</option>
							<option value="">Hardware</option>
							<option value="">Other</option>
						</select>
						 <div class="btn-wrap">
							<input id="txtSearch" type="text" placeholder="Search" title="Search field">
							<a class="button-dark-gray" href="#'"><i class="icon-search"></i></a>
						</div>
					</div>
				</div>
				<table class="board" summary="List no, name, email, tel, product, reply">
					<caption>제품 및 가격 상담문의 리스트</caption>
					<colgroup>
						<col class="no">
						<col class="name">
						<col class="email">
						<col class="tel">
						<col class="product">
						<col class="reply">
					</colgroup>
					<thead>
						<tr>
							<th scope="col" class="no">번호</th>
							<th scope="col" class="name">이름</th>
							<th scope="col" class="email">이메일</th>
							<th scope="col" class="tel">전화</th>
							<th scope="col" class="product">제품</th>
							<th scope="col" class="reply">답변</th>
						</tr>
					</thead>
					<tbody id="tboList">
						<tr>
							<td class="no">5</td>
							<td class="name"><a href="price-view.html">홍길동</a></td>
							<td class="email"><a href="mailto:upsolution@im-u.co.kr">upsolution@im-u.co.kr</a></td>
							<td class="tel"><a href="tel:1566-4574">1566-4574</a></td>
							<td class="product">C-100</td>
							<td class="reply">
								<a class="button-skyblue" href="#"><i class="icon-uniF00C"></i></a>
								<a class="button-skyblue" href="#">상담완료</a>
							</td>
						</tr>
						<tr>
							<td class="no">4</td>
							<td class="name"><a href="#">홍길동</a></td>
							<td class="email"><a href="mailto:upsolution@im-u.co.kr">upsolution@im-u.co.kr</a></td>
							<td class="tel"><a href="tel:1566-4574">1566-4574</a></td>
							<td class="product">C-100</td>
							<td class="reply">
								<a class="button-yellowish-green" href="#"><i class="icon-clock-5"></i></a>
								<a class="button-yellowish-green" href="#">상담중</a>
							</td>
						</tr>
						<tr>
							<td class="no">3</td>
							<td class="name"><a href="#">홍길동</a></td>
							<td class="email"><a href="mailto:upsolution@im-u.co.kr">upsolution@im-u.co.kr</a></td>
							<td class="tel"><a href="tel:1566-4574">1566-4574</a></td>
							<td class="product">C-100</td>
							<td class="reply">
								<a class="button-orange" href="#"><i class="icon-uniF0E0"></i></a>
								<a class="button-orange" href="#">미확인</a>
							</td>
						</tr>
						<tr>
							<td class="no">2</td>
							<td class="name"><a href="#">홍길동</a></td>
							<td class="email"><a href="mailto:upsolution@im-u.co.kr">upsolution@im-u.co.kr</a></td>
							<td class="tel"><a href="tel:1566-4574">1566-4574</a></td>
							<td class="product">C-100</td>
							<td class="reply">
								<a class="button-orange" href="#"><i class="icon-uniF0E0"></i></a>
								<a class="button-orange" href="#">미확인</a>
							</td>
						</tr>
						<tr>
							<td class="no">1</td>
							<td class="name"><a href="#">홍길동</a></td>
							<td class="email"><a href="mailto:upsolution@im-u.co.kr">upsolution@im-u.co.kr</a></td>
							<td class="tel"><a href="tel:1566-4574">1566-4574</a></td>
							<td class="product">C-100</td>
							<td class="reply">
								<a class="button-orange" href="#"><i class="icon-uniF0E0"></i></a>
								<a class="button-orange" href="#">미확인</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="pagination">
					<ul>
						<li><a title="Go to first page">First</a></li>
						<li><a title="Go to previous page">Prev</a></li>
						<li><a title="Current page is 1">1</a></li>
						<li><a title="Current page is 1">2</a></li>
						<li class="active"><a title="Current page is 2">3</a></li>
						<li><a title="Current page is 3">4</a></li>
						<li><a title="Current page is 3">5</a></li>
						<li><a title="Go to next page">Next</a></li>
						<li><a title="Go to last page">Last</a></li>
					</ul>
				</div>
			</div>
		</article>
		<!-- #include file="../_inc/infomation.html" --><!-- / 상담문의 -->
	</section>
</main>
<!-- / Contents Area End-->
<!-- Footer Area -->
<footer id="footer-wrap">
	<!-- #include file="../_inc/footer.html" -->
</footer>
<!-- / Footer Area End -->
</body>
</html>